/* Reset */
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

/* Container */
.details-container {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1 {
    text-align: center;
    color: #28a745;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Form */
form {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Button */
button{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #218838;
}

/* Contact Info */
.info-section {
    margin-top: 20px;
}

.info-section h3 {
    color: #28a745;
    margin-bottom: 5px;
}

.contact-box {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}
/* contact text details */
.contact-box p{
    color: #28a745;
    font-weight: 100;
}